.row.list-item
    .col-sm-1
        h4 #{index}
    .col-sm-2
        h5 #{item.division}
    .col-sm-5
        h5 #{item.display_name}&nbsp;
            small.text-muted= item.common_name
    .col-sm-3
        h5 #{item.karyotypes}
    .col-sm-1
        button.btn.btn-danger.w-100
            i.fa.fa-times.center