.row.list-item
    .col-xs-1
        h4 #{index}
    .col-xs-2
        h5 #{item.division}
    .col-xs-6
        h5.species #{item.species.display_name}&nbsp;
            small.text-muted #{item.species.common_name}
    .col-xs-1.col-sm-2
        h5 #{item.karyotypes}
    .col-xs-2.col-sm-1
        button.btn.btn-danger.w-100
            i.fa.fa-times.center